<div>
  <div passage="默认">
    <div preview>
      <div class="btn">元素</div>
      <span class="text-space"></span>
      <button class="btn">按钮</button>
      <span class="text-space"></span>
      <a href="" class="btn">链接</a>
      <span class="text-space"></span>
      <button class="btn btn-outline">边框按钮</button>
      <span class="text-space"></span>
      <button class="btn btn-noline">无框按钮</button>
    </div>
    <div selector>
      <span>&lt;button&gt;</span>
      <span>.btn</span>
      <span>.btn-outline</span>
      <span>.btn-noline</span>
    </div>
    
  </div>

  <div passage="颜色">
    <div preview>
      <button class="btn btn-warning">警告</button>
      <span class="text-space"></span>
      <button class="btn btn-warning btn-outline">警告按钮</button>
      <span class="text-space"></span>
      <button class="btn btn-warning btn-noline">警告按钮</button>
      <span class="text-space"></span>
      <button class="btn btn-success">确认</button>
      <span class="text-space"></span>
      <button class="btn btn-success btn-outline">确认按钮</button>
      <span class="text-space"></span>
      <button class="btn btn-success btn-noline">确认按钮</button>
    </div>
    <div selector>
      <span>.btn-warning</span>
      <span>.btn-success</span>
    </div>
  </div>

  <div passage="禁用状态">
    <div preview>
      <div class="btn btn-disabled">禁用按钮(div)</div>
      <span class="text-space"></span>
      <button class="btn btn-disabled" disabled>禁用按钮(button)</button>
      <span class="text-space"></span>
      <button class="btn btn-outline" disabled>禁用按钮</button>
      <span class="text-space"></span>
      <button class="btn btn-noline" ng-disabled="1">禁用按钮</button>
    </div>
    <div selector>
      <span>[disabled]</span>
      <span>.btn-disabled</span>
    </div>
  </div>

  <div passage="尺寸">
    <div preview>
      <p>
        <button class="btn btn-fill">100%宽度的按钮</button>
      </p>
      <p>
        <button class="btn btn-small btn-fill">100%宽度的按钮</button>
      </p>
      <p>
        <button class="btn btn-small">小按钮</button>
        <span class="text-space"></span>
        <button class="btn btn-warning btn-small">小按钮</button>
        <span class="text-space"></span>
        <button class="btn btn-outline btn-small">小按钮</button>
        <span class="text-space"></span>
        <button class="btn btn-small" disabled>小按钮</button>
      </p>
      <p>
        <button class="btn btn-narrow">紧凑按钮</button>
        <span class="text-space"></span>
        <button class="btn btn-wide">宽阔按钮</button>
      </p>
    </div>
    <div selector>
      <span>.btn-fill</span>
      <span>.btn-small</span>
      <span>.btn-narrow</span>
      <span>.btn-wide</span>
    </div>
  </div>
</div>