<div>
    <div passage="单行输入框">
        <div preview>
            <input type="text" class="form-text" placeholder="请输入内容">
            <br><br>
            <input type="text" class="form-text" disabled placeholder="请输入内容">
        </div>
    </div>
    <div passage="多行输入框">
        <div preview>
            <textarea class="form-text" rows="4" cols="40"></textarea>
        </div>
    </div>

    <div passage="下拉菜单">
        <div preview>
            <select class="form-select">
                <option value="">天王盖地虎</option>
                <option value="">小鸡炖蘑菇</option>
                <option value="">宝塔镇河妖</option>
                <option value="">蘑菇放辣椒</option>
            </select>
            <select class="form-select" disabled>
                <option value="">莫望浮云遮望眼</option>
                <option value="">风物长宜放眼量</option>

            </select>
            <select size="3" class="form-select">
                <option value="">下拉选项一</option>
                <option value="">下拉选项二</option>
                <option value="">下拉选项三</option>
                <option value="">下拉选项四</option>
                <option value="">下拉选项五</option>
            </select>
        </div>
    </div>

    <div passage="选择框">
        <div preview>
            <label class="form-label">
                <input type="checkbox" class="form-checkbox">
                复选框
            </label>
            <br>
            <label class="form-label">
                <input type="checkbox" class="form-checkbox" disabled>
                复选框
            </label>
            <br>
            <label class="form-label">
                <input type="radio" class="form-radio">
                单选框
            </label>
            <br>
            <label class="form-label">
                <input type="radio" class="form-radio" disabled>
                单选框
            </label>
        </div>
    </div>
</div>