<div>
    <div passage="浮动">
        <div preview>
            <div class="clearfix">
                <div class="float-left">
                    .float-left 向左浮动
                </div>
                <div class="float-right">
                    .float-left 向左浮动
                </div>
            </div>
            <div class="clearfix">
                .clearfix 清除浮动
            </div>
        </div>
    </div>

    <div passage="文字">
        <div preview>
            <div class="float-left">
                <input type="text" class="form-text">
            </div>
            <div class="float-right padding-left">
                <div class="text-box">
                    文字块对齐
                </div>
            </div>
        </div>
    </div>

    <p>
        <small class="text-muted">
            .text-box 用于在没有外部约束的条件下对无关联的组件和文字对齐操作
            <br>
            默认文字行高24px，上下边距4px，可以和大部分32px高的元素组合，并且在折行时，并不会因为过高的行距对排版造成影响
            <br>
            变更框架元件基准高度时，.text-box的高度也应随之调整
        </small>
    </p>
</div>