<div class="grid-display">
    <div passage="默认">
        <div preview>
            <div class="grid">
                <div class="row">
                    <div class="col-4">
                        <p>4/12 格</p>
                    </div>
                    <div class="col-8">
                        <p>8/12 格</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div passage="分隔线">
        <div preview>
            <div class="grid grid-divider">
                <div class="row">
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div passage="间距">
        <div preview>
            <div class="grid grid-exlarge">
                <div class="row">
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-collapse">
                <div class="row">
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                    <div class="col-4">
                        <p>col 4/12</p>
                    </div>
                </div>
            </div>
            

            
            <!--<div class="row-5">
                <div class="col-1">
                    <p>col 1/5</p>
                </div>
                <div class="col-1">
                    <p>col 1/5</p>
                </div>
                <div class="col-1">
                    <p>col 1/5</p>
                </div>
                <div class="col-1">
                    <p>col 1/5</p>
                </div>
                <div class="col-1">
                    <p>col 1/5</p>
                </div>
            </div>-->
        </div>
    </div>
</div>