<div>
    <div preview>
        <div class="demo-box-model">
            <div class="demo-box-margin">
                <em class="text-small margin-left">.margin-(top|left|right|bottom)</em>
                <div class="demo-box-border margin-left margin-right margin-bottom padding-left padding-right padding-bottom">
                    <em class="text-small">.border-(top|left|right|bottom)</em>
                    <div class="demo-box-padding padding-left padding-right padding-bottom">
                        <em class="text-small">.padding-(top|left|right|bottom)</em>
                        <div class="demo-box-content text-center">
                            content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div selector>
        <div class="clearfix">
            <span>.padding-top</span>
            <span>.padding-left</span>
            <span>.padding-right</span>
            <span>.padding-bottom</span>
        </div>
        <div class="clearfix">
            <span>.margin-top</span>
            <span>.margin-left</span>
            <span>.margin-right</span>
            <span>.margin-bottom</span>
        </div>
    </div>-->

</div>