<div>
    <div preview>
        <table class="table table-justify table-hover">
            <thead>
                <tr>
                    <td>
                        <input type="checkbox" name="" value="">
                    </td>
                    <td width="48"></td>
                    <td>用户名</td>
                    <td>最后登录</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" name="" value=""></td>
                    <td>
                    </td>
                    <td>
                        <strong>administrator</strong>
                        <span class="text-space"></span>
                        <small class="text-italic text-muted table-hover-show"># 10001</small>
                    </td>
                    <td>
                        <small>2016-10-30 02:18:02</small>
                    </td>
                    <td>
                        <a href="javascript:;">编辑</a>
                        <span class="text-space">|</span>
                        <a href="javascript:;">删除</a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" value=""></td>
                    <td>
                        <img src="https://cdn.v2ex.co/avatar/e271/b6ed/18318_normal.png" class="avatar-32 float-left" alt="">
                    </td>
                    <td>
                        <strong>guest</strong>
                        <span class="text-space"></span>
                        <small class="text-italic text-muted table-hover-show"># 10002</small>
                        <br>
                        <small class="text-muted">guest@website.com</small>
                    </td>
                    <td>
                        <small>2016-10-30 02:18:02</small>
                        <br>
                        <small class="text-muted">192.168.1.1</small>
                    </td>
                    <td>
                        <button type="button" class="btn btn-small">编辑</button>
                        <button type="button" class="btn btn-warning btn-small">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>