<div>
  <div preview>
    <h1>H1标题ABCdef032-.!@#&amp;*，：。！《春秋》“”</h1>
    <h2>H2标题ABCdef024-.!@#&amp;*，：。！《礼记》“”</h2>
    <h3>H3标题ABCdef020-.!@#&amp;*，：。！《楚辞》“”</h3>
    <h4>H4标题ABCdef016-.!@#&amp;*，：。！《时令》“”</h4>
    <h5>H5标题ABCdef014-.!@#&amp;*，：。！《天文》“”</h5>
    <h6>H6标题ABCdef012-.!@#&amp;*，：。！《地理》“”</h6>
  </div>
  <div selector>
    <span>&lt;h1&gt;</span>
    <span>&lt;h2&gt;</span>
    <span>&lt;h3&gt;</span>
    <span>&lt;h4&gt;</span>
    <span>&lt;h5&gt;</span>
    <span>&lt;h6&gt;</span>
  </div>
</div>