<div>
  <div preview>
    <p>
      哈啊哈～哈啊哈！
      西湖美芹，山药甜呐！
      春芋入酒，溜乳燕呐！
      有圆千鲤来相烩，无圆炖面手揽钳。
      十年修得同涮肚！
      百年修得共抻面！
      若是呛呀腌呀有灶哇！
      白薯通心菜眼前！
      若是呛呀腌呀有灶哇！
      白薯通心菜眼前！
      辣辣辣辣辣～辣辣辣辣辣～辣～辣～辣辣辣辣辣辣......…… 
    </p>
  </div>

  <div preview>
    <p class="text-indent">
      To see the world, 
      things dangerous to come to, 
      To see behind walls, 
      to draw closer, 
      To find each other and to feel, 
      That is the Purpose of LIFE.
    </p>
    <p class="text-right text-small text-muted">
      <em>-- The Secret Life of Walter Mitty</em>
    </p>
  </div>

<!--   <p>
    样式用来实现效果，提升开发效率，样式越多越好，满足多样需求。    规范用来约束样式，保持体验统一，规范越少越好，避免随意滥用。
  </p> -->

  <p>
    <small class="text-muted">
      默认字号: <em>14px</em> <br>
      默认字体: <em>'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;</em><br>
       使用<mark>-webkit-font-smoothing: antialiased;</mark>优化在webkit核心浏览器中的文字渲染效果。 
    </small>
  </p>
</div>