<div showcode="right">

  <div preview>
    <span>默认正常文字 ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</span>
  </div>

  <div passage="尺寸">
    <div preview>
      <p><small>小号文本尺寸 (&lt;small&gt; | .text-small) 12px ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</small></p>
      <p>默认尺寸 14px ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</p>
      <p class="text-big">大号文本尺寸 (.text-big) 16px ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</p>
    </div>
    <div selector>
      <span>&lt;small&gt;</span>
      <span>.text-small</span>
      <span>.text-big</span>
    </div>
  </div>

  <div passage="颜色">
    <div preview>
      <span>默认文字颜色 ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</span> <br>
      <span class="text-muted">次要 (.text-muted) 文字颜色 ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</span> <br>
      <span class="text-showy">醒目 (.text-showy) 文字颜色 ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</span> <br>
      <a href="javascript:;">默认链接颜色 ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</a>
    </div>
    <div selector>
      <span>.text-muted</span>
      <span>.text-showy</span>
    </div>
  </div>

  <div passage="修饰">
    <div preview>
      <span class="text-thin">细体文字(.text-thin) ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</span> <br>
      <strong class="text-bold">粗体文字(.text-bold) ABCdef012345678 -_.!@#$%&amp;*() ，；：。！《》“”</strong> <br>
      <strong class="text-regular">
        .text-regular 可以使文字粗细恢复默认
      </strong>
      
    </div>
    <div selector>
      <span>.text-thin</span>
      <span>.text-bold</span>
      <span>&lt;strong&gt;</span>
      <span>.text-regular</span>
    </div>
    <div preview>
        <u>下划线 (&lt;u&gt;|.text-underline)</u> <span class="text-space"></span><br>
        <del>删除线 (&lt;del&gt;|.text-delete)</del> <span class="text-space"></span><br>
        <mark>高亮文本 (&lt;mark&gt;|.text-mark)</mark> <span class="text-space"></span><br>
        <em>斜体ABCdef012345678 (&lt;em&gt;|.text-italic)</em>
    </div>
    <div selector>
      <span>&lt;u&gt;</span>
      <span>.text-underline</span>
      <span>&lt;del&gt;</span>
      <span>.text-delete</span>
      <span>&lt;mark&gt;</span>
      <span>.text-mark</span>
      <span>&lt;em&gt;</span>
      <span>.text-italic</span>
    </div>
  </div>

</div>