<div>
  <div passage="对齐">
    <div preview>
      <p class="text-left">左对齐(默认) (.text-left)</p>
      <p class="text-center">居中对齐 (.text-center)</p>
      <p class="text-right">右对齐 (.text-right)</p>
    </div>
    <div selector>
      <span>.text-left</span>
      <span>.text-center</span>
      <span>.text-right</span>
    </div>
  </div>

  <div passage="缩进">
    <div preview>
      <p class="text-indent">在当代，字体排印学的相关研究和实践范围相当广，包含了文字设计及其应用的所有领域。将段落的第一行从左向右缩进一定的距离，首行外的各行都保持不变，便于阅读和区分文章整体结构。使用 .text-indent 可以使段落文字缩进两个字符。</p>
    </div>
    <div selector>
      <span>.text-indent</span>
    </div>
  </div>

  <!-- <div passage="引用"></div> -->

  <div passage="折行">
    <div preview>
      <p>使用.text-nowrap可以将inline元素强制在一行显示。</p>
      <p>使用.text-break可以将不间断的inline元素强制折行以适应宽度。</p>
    </div>
    <div selector>
      <span>.text-nowrap</span>
      <span>.text-break</span>
    </div>
  </div>

  <div passage="分隔">
    <p>
      <em>.text-space</em> 可以用来在字符串间插入一个有间距的分隔符
    </p>
    <div preview>
      <p>
        尼古拉斯<span class="text-space">·</span>赵四
      </p>
      <p>
        <a href="javascript:;">添加</a>
        <span class="text-space">|</span>
        <a href="javascript:;">编辑</a>
        <span class="text-space">|</span>
        <a href="javascript:;">删除</a>
      </p>
      <p class="text-small">
        <strong>当前位置：</strong>
        <a href="javascript:;">首页</a>
        <span class="text-space">&gt;</span>
        <a href="javascript:;">列表</a>
        <span class="text-space">&gt;</span>
        <span>查看详情</span>
      </p>
    </div>
    <div selector>
      <span>.text-space</span>
    </div>
  </div>
</div>