.demo {
  background: #F3F3F5; }
  .demo .demo-page-title {
    text-align: center;
    padding-top: 1em;
    font-family: 'Lantinghei SC', 'Open Sans';
    font-weight: 100; }
  .demo .demo-main {
    width: 800px;
    margin: 1em auto;
    background: #FFF; }
  .demo .demo-chapter {
    padding: 1em 2em 2em;
    border-bottom: 1px solid #F3F3F5; }
  .demo .demo-title {
    color: #FF6966;
    font-weight: 100;
    margin: 1em 0; }
  .demo h2.demo-title {
    text-align: center;
    color: #000; }
  .demo h4.demo-title {
    border-top: 1px solid #F7F7F7;
    padding: .5em 0 0; }
