
$baseHeight : 40px;

.form-text{
    width:100%;
    min-height:($baseHeight)-2;
    line-height:($baseHeight)-2;
    border:1px solid #bbb;
    border-radius: 2px;
    text-indent: 8px;
    vertical-align : middle;
    padding:0px;
    &:focus{
        box-shadow:inset 0px 1px 3px #e3e3e3;
        outline-color: #C2E9FA;
    }
    &[size]{
        width:auto;
    }
    &[disabled]{
        color:#999;
        background-color:#eee;
    }
}

.form-select{
    display: inline-block;
    height:($baseHeight)-2;
    background-color:#fff;
    line-height:($baseHeight)-4;
    font-size:14px;
    border:1px solid #aaa;
    border-radius: 2px;
    vertical-align: middle;
    // width:100%;
    &:focus{
        box-shadow:inset 0px 1px 3px #e3e3e3;
        outline-color: #C2E9FA;
    }
    &[size]{
        padding:3px 8px;
        height:auto;
    }
    &[disabled]{
        color:#999;
        background-color:#eee;
    }
}

.form-block{
    display: block;
    width:100%;
    padding-top:6px;
    padding-bottom:6px;
    line-height: ($baseHeight)-12;
}
// .form-grid{
//     width:100%;
//     display: table;
//     border-collapse:collapse;
//     border-spacing:10px 20px;
//     table-layout:automatic;//(automatic|fixed)
//     .form-row{
//         display: table-row;
//         .form-label, .form-field{
//             border-bottom:1px solid #eee;
//             line-height:32px;
//             display: table-cell;
//             vertical-align: top;
//             padding-top:12px;
//             padding-bottom:12px;
//         }
//         .form-label{
//             width:1px;
//             padding-right:12px;
//             white-space: nowrap;
//         }
//         .form-field{

//         }
//         .form-help{
//             width:100%;
//             // border-top:1px solid #eee;
//             line-height: 24px;
//             padding:4px 0px;
//             color:#999;
//         }
//     }
//     .form-footer{
//         display: table-cell;
//         padding:24px 0px;
//     }
// }

table.form{
    width:100%;
    tr{
        td:first-child{
            // 首列宽度自适应,目前暂时没有发现兼容性问题
            width:1px;
            padding-right:12px;
            white-space: nowrap;
            // text-align: right;
            &[colspan]{
                
            }
        }
        td{
            height:$baseHeight;
            line-height:$baseHeight;
            vertical-align: top;
            padding-top:12px;
            padding-bottom:12px;
        }
    }
    tfoot tr td,tr.form-footer td{
        border-bottom: none;
        padding-top:24px;
        padding-bottom:24px;
    }
    &.form-divider{
        tr td{
            border-bottom:1px solid #eee;
            padding-top:16px;
            padding-bottom:16px;
        }
    }
    &.form-nolabel{
        tr td:first-child{
            padding-right: 0px;
            width: auto;
            white-space: normal;
        }
    }
    .form-block ~ .form-block{
        margin-top:8px;
    }
    .form-inline{
        display:inline-block;
        height:$baseHeight;
    }
    .form-inline ~ .form-inline{
        margin-left:8px;
    }
    label{
        display: inline-block;
        height:$baseHeight;
        vertical-align: middle;
    }
    // .form-text{
        // border:none;
    // }
    // .form-text + .form-helper{
        // border-top:1px solid #eee;
    // }
    
}