
@import "mixin";

.left{
    float:left !important;
}
.right{
    float:right !important;
}
.center{
    margin-left:auto;
    margin-right:auto;
}

.clearfix{
  @include clearfix();
}

.text-box{
    display:inline-block;
    padding-top:4px;
    padding-bottom:4px;
    line-height:24px;
}


.width-ms{
    width:240px;
}

.width-xs{
    width:480px;
}

.width-sm{
    width:640px;
}

.width-md{
    width:960px;
}

.width-lg{
    width:1200px;
}
.width-fill{
    width:100%;
}